extends layout

block content
  div.container
    h1 AgriDefender
    h2 Your Agricultural Pest and Disease Specialist
    div#dropArea.drop-area
      p
        | loading...
    form#uploadForm(enctype="multipart/form-data")
      input#image(type="file", name="image", style="display: none;")
    
    div#result.mt-4(style="display:none;")
      h3 Classification Result: 
      p#classification 
    div#imagePreview.mt-4(style="display:none;")
      h3 Uplaoded Image:
      canvas#canvas(width="320", height="320")
      //img#previewImg(src="", alt="Uploaded Image" style="max-width:100%;")