doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    script(src="../javascripts/jquery-3.7.0.min.js")
    script(src="../javascripts/index.ui.js")
    //script(src="../javascripts/onnx.min.js")
    script(src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js")
    script(src="../javascripts/ndarray-browser-min.js")
    script(src="../javascripts/utils.js")
  body.body-background
    block content
